body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #333333;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.title span {
  color: #D1A954;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
}

.goldSpan {
  color: #D1A954;
}

.btn {
  width: 160px;
  height: 50px;
  background-color: #D1A954;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn:hover {
  background-color: #af8937;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.h100 {
  height: 100%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.67%;
}

.col-4 {
  width: 25%;
}

.col-3 {
  width: 33.33%;
}

.opacity {
  opacity: 1 !important;
}

.opacity0 {
  opacity: 0;
}

.none {
  display: none;
}

.header {
  width: 100%;
  margin-top: 50px;
  position: absolute;
  z-index: 2;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu li {
  margin-right: 63px;
  white-space: nowrap;
}

.header__menu li:last-child {
  position: relative;
  margin-left: 70px;
  margin-right: 0;
}

.header__menu li:last-child::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D1A954;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header__link:hover {
  color: #c4c4c4;
}

.sidebar {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 150px;
  top: 0;
  background-color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__social {
  margin-top: 160px;
  margin-bottom: 86px;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__icon {
  padding: 10px;
  fill: #c4c4c4;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.sidebar__icon:hover {
  fill: #D1A954;
}

.sidebar__information {
  position: relative;
  margin-top: 383px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  color: #c4c4c4;
  text-align: right;
}

.sidebar__information::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -120px;
  width: 80px;
  height: 1px;
  content: "";
  background-color: #c4c4c4;
}

.hero {
  background: url(../img/hero/herobg.webp) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.hero__title {
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.hero__description {
  margin: 50px 0;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 150px;
}

.hero__item:last-child {
  margin-right: -150px;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.about {
  margin: 150px 0;
}

.about__title {
  margin-bottom: 100px;
}

.about__item--255 {
  max-width: 255px;
}

.about__item:first-child {
  margin-right: 30px;
}

.about__item__subtitle {
  margin-bottom: 40px;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.about__item__description {
  max-width: 445px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.about__item__info {
  margin: 13px 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  font-weight: bold;
  font-style: normal;
}

.about__item__info:last-child {
  margin: 10px 0 0 0;
}

.project {
  margin-bottom: 140px;
}

.project__title {
  margin-bottom: 100px;
}

.project__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project__item {
  position: relative;
}

.project__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333;
  opacity: 0.65;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  height: 100%;
  width: 100%;
}

.project__item__nomination {
  position: absolute;
  margin: 40px 0 0 40px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.project__item__date {
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 80px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.project__item__search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #D1A954;
  border: 35px solid #D1A954;
  border-radius: 47%;
  -webkit-box-shadow: 0 3px 15px black;
          box-shadow: 0 3px 15px black;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.project__item__search:hover {
  fill: rgba(51, 51, 51, 0.3);
  background-color: #af8937;
  border-color: #af8937;
}

.black {
  position: absolute;
  background-color: #333333;
  opacity: 0.65;
  z-index: 10;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.black:hover {
  opacity: 0;
}

.project__item:hover::before {
  opacity: 0;
}
