body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #333333;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.title span {
  color: #D1A954;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
}

.gold-span {
  color: #D1A954;
}

.btn {
  min-width: 160px;
  height: 50px;
  background-color: #D1A954;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn:hover {
  background-color: #af8937;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.h100 {
  height: 100%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.67%;
}

.col-4 {
  width: 25%;
}

.col-3 {
  width: 33.33%;
}

.opacity {
  opacity: 1 !important;
}

.opacity0 {
  opacity: 0;
}

.none {
  display: none;
}

.header {
  width: 100%;
}

.header__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .header__nav {
    margin-left: 191px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 824px;
}

.header__menu li {
  margin-right: 61px;
}

.header__menu li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 992px) {
  .header__menu li {
    margin-right: 30px;
  }
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  white-space: nowrap;
}

.header__link:hover {
  color: #c4c4c4;
}

.header__link--smaller {
  display: block;
  max-width: 119px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  position: relative;
  margin-left: 167px;
  margin-right: 0;
}

.header__link--smaller::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #D1A954;
}

@media screen and (max-width: 992px) {
  .header__link--smaller {
    margin: 50px 0 0 246px;
  }
}

.sidebar {
  position: absolute;
  height: 100vh;
  width: 150px;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__social {
  margin-top: 160px;
  margin-bottom: 86px;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__icon {
  padding: 10px;
  fill: #c4c4c4;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.sidebar__icon:hover {
  fill: #D1A954;
}

.sidebar__information {
  position: relative;
  margin-top: 383px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  color: #c4c4c4;
  text-align: right;
}

.sidebar__information::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -120px;
  width: 80px;
  height: 1px;
  content: "";
  background-color: #c4c4c4;
}

.hero {
  background: url(../img/hero/herobg.webp) no-repeat center;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.hero__description {
  margin: 50px 0;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 150px;
}

@media screen and (max-width: 992px) {
  .hero__item {
    margin-top: 231px;
  }
}

.hero__item:last-child {
  margin-right: -150px;
}

@media screen and (max-width: 992px) {
  .hero__item:last-child {
    display: none;
  }
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  margin: 150px 0;
}

.about__title {
  margin-bottom: 100px;
}

.about__item--255 {
  max-width: 255px;
}

.about__item:first-child {
  margin-right: 30px;
}

.about__item__subtitle {
  margin-bottom: 40px;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.about__item__description {
  max-width: 445px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.about__item__info {
  margin: 13px 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  font-weight: bold;
  font-style: normal;
}

.about__item__info:last-child {
  margin: 10px 0 0 0;
}

.project {
  margin-bottom: 140px;
}

.project__title {
  margin-bottom: 100px;
}

.project__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project__item {
  position: relative;
}

.project__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333;
  opacity: 0.65;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  height: 100%;
  width: 100%;
}

.project__item__nomination {
  position: absolute;
  margin: 40px 0 0 40px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.project__item__date {
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 80px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.project__item__search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #D1A954;
  border: 35px solid #D1A954;
  border-radius: 47%;
  -webkit-box-shadow: 0 2px 20px black;
          box-shadow: 0 2px 20px black;
  opacity: 0;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.project__item__search:hover {
  fill: rgba(51, 51, 51, 0.3);
  background-color: #af8937;
  border-color: #af8937;
}

.black {
  position: absolute;
  background-color: #333333;
  opacity: 0.65;
  z-index: 10;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.black:hover {
  opacity: 0;
}

.project__item:hover::before {
  opacity: 0;
}

.rating {
  margin-bottom: 150px;
}

.rating__row {
  position: relative;
  z-index: 1;
  background: url(../img/rating/Rectangle28.png) no-repeat center;
  background-size: cover;
  height: 100%;
  padding: 126px 90px 126px 185px;
}

.rating__row::before {
  position: absolute;
  content: "";
  z-index: -1;
  background-color: rgba(51, 51, 51, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rating__years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rating__year {
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.rating__text {
  margin: 50px 0 0 100px;
  max-width: 540px;
}

.rating__stars {
  margin-bottom: 25px;
  height: 33px;
}

.rating__star:not(:last-child) {
  margin-right: 25px;
}

.rating__star:nth-child(1) {
  -webkit-animation: star-up 0.6s linear 0.1s  alternate infinite;
          animation: star-up 0.6s linear 0.1s  alternate infinite;
}

.rating__star:nth-child(2) {
  -webkit-animation: star-up 0.6s linear 0.2s  alternate infinite;
          animation: star-up 0.6s linear 0.2s  alternate infinite;
}

.rating__star:nth-child(3) {
  -webkit-animation: star-up 0.6s linear 0.3s  alternate infinite;
          animation: star-up 0.6s linear 0.3s  alternate infinite;
}

.rating__star:nth-child(4) {
  -webkit-animation: star-up 0.6s linear 0.4s  alternate infinite;
          animation: star-up 0.6s linear 0.4s  alternate infinite;
}

.rating__star:nth-child(5) {
  -webkit-animation: star-up 0.6s linear 0.5s   alternate infinite;
          animation: star-up 0.6s linear 0.5s   alternate infinite;
}

.rating__rewiev {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: bold;
  font-style: normal;
}

@-webkit-keyframes star-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes star-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.partners__title {
  margin-bottom: 100px;
}

.partners__row {
  margin: 0 -40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__logo {
  max-width: 200px;
  margin: 0 40px 80px 40px;
}

.footer {
  margin-bottom: 150px;
}

.footer__title {
  margin-bottom: 100px;
}

.footer__form {
  max-width: 730px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__contacts li {
  margin-bottom: 25px;
}

.footer__contacts li:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.footer__labels {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-height: 100%;
  margin-bottom: 40px;
}

.footer__labels__inner {
  max-width: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #444444;
  padding: 13px 0 13px 15px;
  margin-bottom: 30px;
  max-width: 180px;
  max-height: 35px;
  outline: none;
  border: 1px solid #666666;
  color: #989898;
}

.footer__input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-style: normal;
  color: #989898;
}

.footer__input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-style: normal;
  color: #989898;
}

.footer__input::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-style: normal;
  color: #989898;
}

.footer__input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-style: normal;
  color: #989898;
}

.footer__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #444444;
  border: 1px solid #666666;
  outline: none;
  padding: 13px 0 0 15px;
  width: 310px;
  height: 100px;
  resize: none;
  color: #989898;
}

.footer__textarea::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-style: normal;
  color: #989898;
}

.footer__textarea:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-style: normal;
  color: #989898;
}

.footer__textarea::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-style: normal;
  color: #989898;
}

.footer__textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-style: normal;
  color: #989898;
}

.footer__row--bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__description {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  color: #989898;
  max-width: 390px;
}

.footer__btn {
  width: 190px;
}
