body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  color: #fff;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 300;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
}

.goldSpan {
  color: #D1A954;
}

.btn {
  width: 160px;
  height: 50px;
  background-color: #D1A954;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s linear;
}

.btn:hover {
  background-color: #af8937;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.h100 {
  height: 100%;
}

.col-6 {
  width: 50%;
}

.header {
  width: 100%;
  margin-top: 50px;
  position: absolute;
  z-index: 2;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu li {
  margin-right: 63px;
  white-space: nowrap;
}

.header__menu li:last-child {
  position: relative;
  margin-left: 70px;
  margin-right: 0;
}

.header__menu li:last-child::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D1A954;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  transition: 0.3s linear;
}

.header__link:hover {
  color: #c4c4c4;
}

.sidebar {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 150px;
  top: 0;
  background-color: rgba(51, 51, 51, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar__social {
  margin-top: 160px;
  margin-bottom: 86px;
  height: 174px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar__icon {
  padding: 10px;
  fill: #c4c4c4;
  transition: 0.3s linear;
}

.sidebar__icon:hover {
  fill: #D1A954;
}

.sidebar__information {
  position: relative;
  margin-top: 383px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  transform: rotate(-90deg);
  white-space: nowrap;
  color: #c4c4c4;
  text-align: right;
}

.sidebar__information::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -120px;
  width: 80px;
  height: 1px;
  content: "";
  background-color: #c4c4c4;
}

.hero {
  background: url(../img/hero/herobg.webp) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.hero__title {
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.hero__description {
  margin: 50px 0;
}

.hero__item {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.hero__item--jc {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}
/*# sourceMappingURL=index.css.map */