.container{
    max-width: 1110px;
    margin: 0 auto;
}
.title{
    @include font( 48px, 65px, 300);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.description{
    font-family: "Open Sans", sans-serif;
    @include font(14px, 150%, normal, none, normal);
}
.goldSpan{
    color: $gold;
}
.btn{
    width: 160px;
    height: 50px;
    background-color: $gold;
    @include font(18px, 25px, 01em);
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s linear;
    &:hover{
        background-color: #af8937;
    }
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.h100{
    height: 100%;
}
.col-6{
    width: 50%;
}