@mixin flexbox( $align-items: center, $justify-content: center) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}
@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
@mixin font($size, $line-height, $weight: bold, $style: normal) {
	font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
    font-style: $style;
}

