.about {
    margin: 150px 0;
	    &__title {
            margin-bottom: 100px;
            @media screen and (max-width:768px) {
                margin-bottom: 60px;
            }
        }
        &__row{
            @media screen and (max-width:1024px) {
                justify-content: center;
            }
        }
        &__item{
            @media screen and (max-width:576px) {
                @include flexbox(center, flex-start);
                flex-direction: column;
            }
            &__inner{
                width: 100%;
                @media screen and (max-width:576px) {
                    display: flex;
                    justify-content: center;
                }
            }
            &__item{
                margin-bottom: 28px;
                margin-right: 60px;
                &:last-child{
                    margin-bottom: 0;
                    margin-right: 0;
                }
            }
            &--255{
                max-width: 255px;
                @media screen and (max-width:1024px) {
                    max-width: 208px;     
                }
                @media screen and (max-width:576px) {
                    max-width: 100%;
                }
            }
            &:first-child{
                margin-right: 30px;
                @media screen {
                    margin-bottom: 35px;
                }
            }
            @media screen and (max-width:1024px) {
                &:last-child{
                    display: none;
                }
            }
	    &__subtitle {
            white-space: nowrap;
            margin-bottom: 40px;
            @include font(21px, 29px, 0.1em, uppercase);
		}
	    &__description {
            max-width: 445px;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.05em;
            @media screen and (max-width:576px) {
                text-align: center;
                max-width: 504px;
            }
        }
        &__info{
            white-space: nowrap;
            margin: 0;
            @include font(16px, 22px, 0.05em, lowercase);
        }
    }
    .col-5{
        @media screen and (max-width:768px) {
            width: 56.5%;
        }
        @media screen and (max-width:576px) {
            width: 100%;
        }
    }
    .col-3{
        @media screen {
            width: 100%;
        }
    }
}

.mt4{
    @media screen and (max-width:576px) {
        margin-top: 4px;
    }
}