.hero {
    background: url(../img/hero/herobg.webp) no-repeat center;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
    position: relative;
    box-sizing: border-box;
        &__row{
            justify-content: center;
            align-items: center;
            height: 100%;
            @media screen and (max-width:992px) {
                height: auto;
            }
        }
		&__title {
            @include font(64px, 87px, 0.1em);
            white-space: nowrap;
		}
		&__description {
            margin: 50px 0;
            @media screen and (max-width:992px) {
                width: 539px;
            }
        }
        &__item{
            @include flexbox(end, center);
            flex-direction: column;
            margin-right: 150px;
            @media screen and (max-width:992px) {
                margin-top: 231px;
            }
            &:last-child{
                margin-right: -150px;
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }
        }
        &__btn{
            @include flexbox;
        }
        
}
