.hero {
    background: url(../img/hero/herobg.webp) no-repeat center;
    background-size: cover;
    height: 100vh;
		&__title {
            @include font(64px, 87px, 0.1em);
		}
		&__description {
            margin: 50px 0;
        }
        &__item{
            @include flexbox(end, center);
            flex-direction: column;
            margin-right: 150px;
            &:last-child{
                margin-right: -150px;
            }
        }
        &__btn{
            @include flexbox;
        }
        
}
