.partners {
		&__title {
            margin-bottom: 100px;
		}
		&__row {
            margin: 0 -40px;
			justify-content: space-between;
			@media screen and (max-width:992px) {
				width: 840px;
				max-height: 272px;
				overflow: hidden;
				margin: 0 auto 0 64px;
				justify-content: center;
			}
			@media screen and (max-width:768px) {
				width: 640px;
			}
			@media screen and (max-width:576px) {
				width: 560px;
				margin: 0;
			}
		}
		&__logo {
            max-width: 200px;
			margin: 0 40px 80px 40px;
			
		}
}
