.sidebar {
	position: absolute;
	height: 100vh;
	width: 150px;
	top: 0;
	left: 0;
	background-color: rgba($color: #333333, $alpha: 0.7);
	@include flexbox(center, space-between);
	flex-direction: column;
	@media screen and (max-width:768px) {
		display: none;
	}
		&__social {
			margin-top: 160px;
			margin-bottom: 86px;
			height: 174px;
			@include flexbox(center, space-between);
			flex-direction: column;
		}
		&__icon{
			padding: 10px;
			fill: #c4c4c4;
			transition: 0.3s linear;
			&:hover{
				fill: $gold;
			}
		}
		&__information {
			position: relative;
			margin-top: 383px;
			@include font(18px, 25px, 0.1em);
			transform: rotate(-90deg);
			white-space: nowrap;
			color: #c4c4c4;
			text-align: right;
			@media screen and (max-width:1440px) {
				margin-top: 320px;
			}
			@media screen and (max-width:1330px) {
				margin-top: 220px;
			}
			&::before{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -120px;
				width: 80px;
				height: 1px;
				content: "";
				background-color: #c4c4c4;
			}
		}
}
